
.container{
    min-height: 100vh;
}
.btn-act{
    background: green;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}
.arrow-down {
    width: 70px; 
    height: 70px; 
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 70px solid #f00;
    bottom: 30px;
    position:absolute;
    animation: boyance 3s ease-in-out infinite;
  }
.modal-full {
    min-width: 50%;
}
.modal-full .modal-content {
    min-height: 80vh;
}
.btn-act:hover{
    background: #e6881e;
}
.section-adapt{
    min-height: 20vh;

}
.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
  }
.section-cust{
    height: 100vh;
    top: 0 !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.ab-logo{
    height: 45px;
    transition: background-color 400ms ease-in-out;
}
.container-cust{
    color : white;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.card-profile{
    min-width: 980px;
    min-height: 30vh;
    font-size: x-large;
}
.container-post{
    padding-top: 171px;
    padding-bottom: 90px;
    min-height: 100%;
}
.nav-link svg{
    height: 40px;
}
svg {
    height: 16px;
    width: 16px;
}

.nav-link svg {
    height: 32px;
    width: 32px;
}
  .scrolled-down{
     transform:translateY(-100%); 
     transition: all 0.9s ease-in-out;
  }
  .b-scrolled-down{
    transform:translateY(100%); 
    transition: all 0.9s ease-in-out;
 }
  .scrolled-up{
     transform:translateY(0); 
     transition: all 0.3s ease-in-out;
  }
.navbar-cust{
    padding: 3rem 9rem ;
    background-color: rgba(28,117,48,1);
    z-index: 999;
}
.bg-transparent{
    background: transparent;
}

.jumbotron-cust{
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(1,43,0);
    background: linear-gradient(0deg, rgba(1,43,0,1) 0%, rgba(28,117,48,1) 80%, rgba(28,117,48,1) 100%);
}

.image-fp{
    max-width: 100%;
    animation: boyance 3s ease-in-out infinite;
}

.navbar-bottom {
    background-color: rgba(28,117,48,1);
    color: black;
    display: none;
    padding: 0 !important;
}
icon svg{
    height: 30px;
    width: 30px;
}
.card-body p{
    font-size: large;
}

@keyframes boyance {
	0% {
		transform: translateY(0px);
    }
    25% {
		transform: translateY(30px);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0px);
	}
}
@media only screen and (max-width: 980px) {
    .image-fp {
        max-width: 100%;
    }
    .navbar-cust {
        padding: .5rem 0rem ;
        height: 50px;
        display: none;
    }
    .navbar-cust a{
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .ab-logo{
        display: none;
    }
    .btn-act{
        display: none;
    }
    .navbar-bottom {
        display: block;
    }
    .container-post{
        padding-top: 71px;
        padding-bottom: 40px;
    }
    .card-body p{
        font-size: medium;
    }
    .arrow-down {
        width: 40px; 
        height: 40px; 
      }
}
